{{#if to}}
  {{#if text}}
    <a id={{id}} class="link {{classes}}" href={{to}}>{{text}}</a>
  {{else}}
    <a id={{id}} class={{classes}} href={{to}}>No text</a>
  {{/if}}
{{else}}
  <a id={{id}} class={{classes}} href="#">Empty link</a>
{{/if}}